<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="blobStorageConnection" value="DefaultEndpointsProtocol=https;AccountName=serverlesshect;AccountKey=7yfK80tXGb4EFdLMQoJ/zqL6fpEp7B+CZfvC6d1rDixHMt9LCDW+4Hg2c5BOc/UQd9KyvrlPgXqPGpFsPmJynA==;EndpointSuffix=core.windows.net" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>